<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logojetpack"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logojetpack"
        android:supportsRtl="true"
        android:theme="@style/MyStyle"
        tools:targetApi="31" >
        <activity
            android:name=".ui.me.myprofile"
            android:exported="false"
            android:parentActivityName=".ui.me.MeFragment"
            android:label="@string/title_activity_my_profil"/>

        <activity
            android:name=".ui.mysite.ChooseThemeActivity"
            android:exported="false"
            android:theme="@style/Theme.WordPress25" />

        <activity
            android:name=".ui.mysite.PreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.WordPress25" />
        <activity
            android:name=".ui.mysite.AddSiteActivity"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".ui.me.Account_settings"
            android:exported="false"
            android:parentActivityName=".ui.me.MeFragment"
            android:label="@string/title_activity_account_settings"/>
        <activity
            android:name=".Firstpage"
            android:exported="true"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>